button:focus{
    outline: 0 !important;
}
.headerWrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.logoWrapper {
    width: 200px;
    margin-right: 20px;
}
.rightHeader {
    width: 100px;
}
.SearchBarWrapper {
    width: calc(100% - 320px);
}
section.small-banner.section {
    display: none;
}
.section{
    padding: 50px 0 50px;
}
.form-control {
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    color: #242A41;
    padding: 8px 12px;
    height: 36px;
    border: 1px solid #D5D5E2;
    box-shadow: 0px 1px 2px rgba(16, 24, 40, 0.05);
    border-radius: 6px;
    background-color: #fff;
    width: 100%;
}
.search-bar form {
    position: relative;
}
.search-bar form .searchIcon {
    background: transparent;
    border: 0;
    color: #242A41;
    font-size: 12px;
    position: absolute;
    top: 13px;
    left: 10px;
}
.search-bar form .form-control {
    padding: 8px 12px 8px 30px;
}
.search-bar {
    max-width: 400px;
    margin: 0 auto;
}
.right-bar {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    position: relative;
    top: 8px;
}
.customTabButton {
    padding: 8px 14px;
    box-shadow: 0px 1px 2px rgba(16, 24, 40, 0.05);
    border-radius: 6px;
    font-weight: 500;
    font-size: 14px;
    line-height: 18px;
    background: transparent;
    border: 1px solid #D5D5E2;
    color: #70728F;
    margin-right: 8px;
}
.product-area .nav-tabs .customTabButton:last-of-type{
    margin-right: 0;
}
.customTabButton.how-active1 {
    color: #fff;
    background: #F7941D;
    border: 1px solid #F7941D;
}
.customTabButton:hover{
    border-color: #D5D5E2;
}
button.customTabButton.how-active1:focus,
button.customTabButton.how-active1:active{
    outline: 0 !important;
}
.section-title{
    padding: 0;
    margin: 0 0 18px;
}
.section-title h2{
    padding: 0;
}
.section-title h2::before{
    display: none;
}
.sub-heading {
    font-weight: 500;
    font-size: 23px;
    line-height: 30px;
    color: #383B56;
    text-align: center;
    margin: 0 0 18px;
}
.latestItemSection {
    background: #F6F7FB;
}
.productListOverlay .list-image {
    margin: 0 0 12px;
}
.productContent h4 {
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    color: #242A41;
    margin-bottom: 4px;
}
.product-info .nav-main {
    margin: 0 0 30px;
}
.shop-blog .shop-single-blog {
    border: 1px solid #eeeeee;
}
#cart_item_list .btn{
    text-align: center;
    padding: 8px 14px 8px;
    box-shadow: 0 1px 2px rgba(16, 24, 40, 0.05);
    border-radius: 6px;
    font-weight: 500;
    font-size: 14px;
    line-height: 18px;
    color: #FFFFFF;
}
section.shop-newsletter.section {
    display: none;
}

/* responsiveness */
@media (max-width: 1023px){
    .logoWrapper {
        width: 150px;
        margin-right: 20px;
    }
}
@media (max-width: 767px){
    .top-left {
        display: none;
    }
    .topbar .list-main {
        display: flex;
    }
    .header.shop .list-main li {
        margin-right: 8px;
    }
    .header.shop .middle-inner{
        position: relative;
    }
    .headerWrapper{
        display: flex;
        width: 100%;
    }
    .logoWrapper {
        width: 100%;
        margin: 0;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    .logoWrapper .logo {
        max-width: 150px;
    }
    .shop.login {
        padding: 50px 0 50px;
    }
    #Gslider .carousel-inner {
        height: auto !important;
    }
    .about-us .about-img{
        max-width: 500px;
        margin: 0 auto;
    }
    .header.shop .search-top {
        display: block;
        margin-right: 15px;
        position: relative;
        top: 3px;
    }
    .mobileHeader {
        display: flex;
        align-items: flex-start;
    }
    .header .search-top a{
        font-size: 14px;
    }
    .mobileHeader .slicknav_menu .slicknav_no-text{
        float: none;
    }
    .closeIcon {
        position: absolute;
        z-index: 1;
        top: 10px;
        right: 20px;
        font-size: 10px;
    }
    .mobile-nav .slicknav_nav {
        position: absolute;
        width: 100%;
        left: 0;
        top: 37px;
        z-index: 1;
        padding: 10px 10px 10px;
        border-top: 1px solid #e3e6f0;
        background: #F6F7FB;
        box-shadow: 0px 1px 2px rgba(16, 24, 40, 0.05);
    }
    .customTabButton{
        margin-bottom: 8px;
    }
    .section {
        padding: 30px 0px;
    }
    .header .shopping{
        z-index: auto;
    }
    .shopping-cart .table td {
        padding: 10px;
    }
    .customTable {
        overflow-y: hidden;
        overflow-x: scroll;
    }
}
