body {
    background: #ffffff;
    color: #88898b;
    font-family: 'Inter', sans-serif !important;
    font-weight: 400;
    margin: 0 !important;
    overflow-x: hidden;
}
p{
    font-size: 14px;
    line-height: 16px;
    margin: 0 0 12px;
    color: #88898b;
}
a{
    text-decoration: none;
    transition: all .3s ease;
    color: #88898b;
}
a:hover{
    transition: all .3s ease;
    text-decoration: none;
    color: #01adef;
}
input:focus,
input:active{
    outline: 0 !important;
    box-shadow: none !important;
}
button:focus,
button:active{
    outline: 0 !important;
    box-shadow: none !important;
}

/* main css */
.main-wrapper {
    background: #f5f6f8;
    min-height: calc(100vh - 420px);
}
.topHeader{
    text-align: right;
    margin: 0 0 15px;
    padding: 10px 0 10px;
}
.topHeader a {
    font-size: 12px;
    line-height: 16px;
    color: #333436;
    margin-right: 16px;
    display: inline-block;
}
.topHeader a:hover{
    color: #01adef;
}
.topHeader a span {
    display: inline-block;
    margin-left: 4px;
}
.topHeader a span.wishListCount {
    margin: 0;
}
.customHeader {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 15px;
}
.leftHeader {
    width: 250px
}
.logo {
    max-width: 80px;
}
.logo a {
    display: inline-block;
}
.logo a img {
    width: 100%;
}
.midHeader {
    margin: 0 20px;
    width: calc(100% - 540px);
}
.searchWrapper{
    position: relative;
    display: flex;
    align-items: center;
}
.searchWrapper input {
    background: #fff;
    color: #aaa;
    border: 1px solid #dcdddf;
    height: 36px;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
    padding: 0 10px;
    font-size: 12px;
    line-height: 14px;
    width: calc(100% - 40px);
}
.searchWrapper input:focus{
    border-color: #01adef;
}
.searchWrapper .searchIcon {
    background: #01adef;
    height: 36px;
    width: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #ffffff;
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
    margin: 0;
    border: 0;
    cursor: pointer;
    font-size: 14px;
}
.searchBarNav {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    position: relative;
    top: 2px;
    padding-left: 1px;
}
.searchBarNav li{
    margin-right: 5px;
}
.searchBarNav li:last-of-type{
    margin: 0;
}
.searchBarNav li a{
    font-size: 11px;
    display: inline-block;
}
.rightHeader {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    width: 250px;
}
.userInfo {
    margin-right: 40px;
}
.userInfo .btn {
    background: transparent;
    padding: 0;
    margin: 0;
    font-size: 26px;
    color: #625d5e;
    border: 0;
}
.userInfo .btn:after{
    display: none;
}
.dropdown-menu.show {
    padding: 12px;
    box-shadow: 0 12px 16px -4px rgba(16, 24, 40, 0.08), 0px 4px 6px -2px rgba(16, 24, 40, 0.03);
    width: 200px;
    border: 1px solid #EFF0F5;
    border-radius: 4px;
    margin: 6px 0 0;
}
.userInfo .list-main li{
    margin: 0 0 8px;
}
.userInfo .list-main li:last-of-type{
    margin: 0;
}
.userInfo .list-main li a {
    text-align: center;
    padding: 6px 6px 6px 6px;
    border: 1px solid #EFF0F5;
    box-shadow: 0 1px 2px rgba(16, 24, 40, 0.05);
    border-radius: 3px;
    background: transparent;
    display: block;
    font-size: 12px;
}
.userInfo .list-main li a:hover{
    color: #FFFFFF;
    background: #01adef;
}
.cartInfo a {
    font-size: 26px;
    position: relative;
    color: #625d5e;
}
.cartInfo .total-count {
    font-size: 12px;
    border: 1px solid #01adef;
    width: 25px;
    height: 15px;
    border-radius: 4px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 0;
    right: -25px;
}
.cartList{
    position: relative;
}
.shopping-item {
    display: none;
    position: absolute;
    background-color: #FFFFFF;
    min-width: 300px;
    box-shadow: 0 12px 16px -4px rgba(16, 24, 40, 0.08), 0px 4px 6px -2px rgba(16, 24, 40, 0.03);
    z-index: 1;
    right: 0;
    border: 1px solid #77787a;
    padding: 16px 12px 16px;
    margin: 10px 0 0;
}
.shopping-item:before {
    content: '';
    position: absolute;
    top: 0;
    left: auto;
    right: 9px;
    margin-left: -10px;
    display: block;
    clip-path: polygon(0 0, 100% 0, 100% 100%);
    background: white;
    border: 2px solid #77787a;
    height: 18px;
    width: 18px;
    transform-origin: 0 0;
    transform: rotate(-45deg);
}
.cartIcon:hover + .shopping-item {
    display: block;
}
.shopping-item:hover{
    display: block;
}
.dropdown-cart-header {
    margin: 0 0 16px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.dropdown-cart-header a {
    font-size: 14px;
    color: #333436;
    font-weight: 500;
}
.dropdown-cart-header span{
    font-size: 12px;
}
.shopping-list {
    margin: 0 0 16px;
    padding-bottom: 16px;
    border-bottom: 1px solid #dcddcf;
}
.shopping-list li{
    display: flex;
    align-items: center;
}
.shopping-list li .cart-img {
    display: block;
    max-width: 100px;
}
.shopping-list li h4{
    font-size: 14px;
    margin-left: 16px;
}
.shopping-list li h4 a{
    font-size: 16px;
    line-height: 20px;
    margin: 0 0 6px;
    font-weight: 500;
    color: #333436;
    display: inline-block;
}
.shopping-list li a {
    font-size: 12px;
    margin-right: 8px;
}
.shopping-list li .cart-img img{
    width: 100%;
}

.shopping-item .bottom .total {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 0;
    margin: 0 0 4px;
}
.shopping-item .bottom .total a.remove {
    font-size: 16px;
    color: red;
}
.totalCartPrice span:first-child{
    color: #333436;
}
.totalCartPrice span {
    display: inline-block;
    margin-right: 4px;
}
.totalCartPrice span:last-of-type{
    margin: 0;
}
.customBlueBtn {
    padding: 5px 14px;
    box-shadow: 0 1px 2px rgba(16, 24, 40, 0.05);
    border-radius: 4px;
    font-weight: 500;
    font-size: 14px;
    line-height: 18px;
    color: #fff;
    background: #01adef;
    border: 1px solid #01adef;
    display: block;
    text-align: center;
    cursor: pointer;
}
.customBlueBtn:hover {
    color: #01adef;
    background: transparent;
}
.shopping-item .bottom .customBlueBtn{
    font-size: 14px;
    color: #FFFFFF;
}
.shopping-item .bottom .customBlueBtn:hover{
    color: #01adef  ;
}
.emptyCart {
    text-align: center;
    font-size: 16px;
    color: #625d5e;
}
.emptyCart p{
    color: #625d5e;
}
.emptyCart a{
    font-size: 14px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #01adef;
}
.emptyCart a span{
    margin-right: 6px;
}
.emptyCart a i{
    margin-right: 2px;
    font-size: 10px;
    position: relative;
    top: 1px;
}
.emptyCart a i:last-of-type{
    margin: 0;
}
.menuNanBar {
    position: relative;
    background: #01adef;
    border-radius: 5px 5px 0 0;
    padding: 0 28px;
}
.menuNanBar ul {
    display: flex;
    align-items: center;
}
.menuNanBar ul li{
    margin-right: 56px;
    position: relative;
}
.menuNanBar ul li:after {
    content: "";
    width: 0;
    height: 2px;
    background: #eb1c24;
    position: absolute;
    left: 50%;
    bottom: 0;
    transition: all .3s;
}
.menuNanBar ul li:hover::after{
    left: 0;
    width: 100%;
}
.menuNanBar ul li:last-of-type{
    margin:0;
}
.menuNanBar ul li .openSubCategory {
    display: none;
}
.menuNanBar ul li a {
    font-size: 13px;
    letter-spacing: 0.8px;
    display: block;
    padding: 16px 0 16px;
    text-shadow: 0 0 1px #88898b;
    color: #FFFFFF;
}
.menuNanBar ul .dropdown.sub-dropdown {
    display: none;
}
.menuNanBar ul li .dropdown.sub-dropdown{
    position: absolute;
    padding: 10px 0 5px;
    min-width: 200px;
    background: #fff;
    left: 0;
    top: 45px;
    z-index: 999;
    border: 1px solid #dcdddf;
    box-shadow: 0 5px 20px 0 rgba(192,192,192,0.4);
}
.menuNanBar ul li:hover .dropdown.sub-dropdown{
    display: block;
}
.menuNanBar ul li .dropdown.sub-dropdown li {
    margin-right: 0;
    margin-bottom: 5px;
}
.menuNanBar ul li .dropdown.sub-dropdown li:last-of-type{
    margin-bottom: 0;
}
.menuNanBar ul li .dropdown.sub-dropdown li::after{
    display: none;
}
.menuNanBar ul li .dropdown.sub-dropdown li a {
    color: #77787a;
    font-size: 12px;
    padding: 5px 10px;
    font-weight: 400;
    text-shadow: none;
    display: block;
}
.menuNanBar ul li .dropdown.sub-dropdown li a:hover{
    color: #01adef;
}



/* Login / register */
.loginFormWrapper {
    margin: 30px 0 0;
    background: #FFFFFF;
}
.loginFormRight {
    border: 1px solid #dcddcf;
    padding: 20px 15px 20px;
}
.loginFormWrapper h2 {
    text-align: center;
    font-size: 18px;
    color: #eb1c24;
    margin-bottom: 20px;
    font-weight: 500;
}
.loginFormRight form.form {
    max-width: 400px;
    margin: 0 auto;
}
label{
    position: relative;
}
.form-group{
    margin-bottom: 15px;
}
.form-group label {
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    color: #4D506B;
    display: inline-block;
    margin-bottom: 6px;
}
label span {
    width: 3px;
    height: 3px;
    background: #F06041;
    display: block;
    border-radius: 100%;
    position: absolute;
    top: 4px;
    right: -6px;
}
.form-group input {
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    color: #242A41 !important;
    border-radius: 3px !important;
    padding: 8px 12px;
    height: 30px;
    border: 1px solid #D5D5E2;
    box-shadow: 0 1px 2px rgba(16, 24, 40, 0.05);
    background-color: #fff !important;
    width: 100%;
}
.form-group input:focus{
    border-color: #01adef;
}
.form-group .text-danger {
    color: #dc3545!important;
    font-size: 12px;
    line-height: 12px;
}
.customLoginBtn {
    position: relative;
    font-weight: 400;
    font-size: 16px;
    line-height: 18px;
    text-transform: uppercase;
    letter-spacing: 0.5px;
    padding: 12px 12px 10px;
    border: 1px solid #01adef;
    display: inline-block;
    background-color: #01adef;
    color: #ffffff;
    width: 100%;
    border-radius: 3px;
    box-shadow: 0 1px 2px rgba(16, 24, 40, 0.05);
    cursor: pointer;
    transition: all .3s ease;
}
.customLoginBtn:hover{
    background-color: transparent;
    color: #01adef;
    transition: all .3s ease;
}
.loginFormRight .passwordWrapper{
    margin-bottom: 15px;
}
.loginFormRight .passwordWrapper .lost-pass {
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    color: #4D506B;
    display: inline-block;
    margin-bottom: initial;
}
.loginFormRight .passwordWrapper .lost-pass:hover{
    color: #01adef;
}
.loginFormLeft{
    padding: 20px 15px 20px;
}
.loginFormLeft h2 {
    text-align: left;
}
.loginFormLeft h3 {
    color: #242A41;
    font-style: italic;
    font-weight: 500;
    margin: 0 0 10px;
    font-size: 14px;
}
.loginFormLeft p {
    line-height: 18px;
}
.creatAccount {
    border: 1px solid #555555;
    display: inline-block;
    text-align: center;
    margin-top: 35px;
    padding: 12px 10px 12px;
    color: #555555;
}
.creatAccount:hover,
.creatAccount:focus{
    border-color: #01adef;
    color: #01adef;
}


/* pages */
.main-wrapper {
    background: #f5f6f8;
}
.banner-section {
    margin: 0 0 10px;
}
.noticeBorad{
    margin-bottom: 10px;
}
.noticeBorad:last-of-type{
    margin-bottom: 0    ;
}
.noticeBorad h3 {
    background: #625d5e;
    color: #FFFFFF;
    font-size: 14px;
    line-height: 16px;
    padding: 8px 10px 8px;
}
.noticeBorad h3 i{
    margin-right: 8px;
}
.bannerContent {
    padding-left: 10px;
}
.noticeBoardDesc {
    padding: 15px 10px 15px;
    background: #ffffff;
    min-height: 150px;
}
.noticeBoardDesc p{
    color: #625d5e;
}
.noticeBorad ul li{
    margin-bottom: 5px;
}
.noticeBorad ul li:last-of-type{
    margin-bottom: 0;
}
.noticeBorad ul li a {
    font-size: 12px;
    line-height: 16px;
    color: #625d5e;
}
.noticeBorad ul li a:hover{
    color: #01adef ;
}
.noticeBorad ul li a i {
    margin-right: 4px;
}
.goDropShipPolicy {
    display: flex;
    align-items: flex-start;
    padding: 20px 10px 20px;
    background: #FFFFFF;
    margin-bottom: 10px;
}
.policyWrap {
    width: 25%;
    margin-right: 10px;
    display: flex;
    align-items: center;
}
.policyWrap:last-of-type{
    margin-right: 0;
}
.policyWrap span {
    font-size: 14px;
    display: inline-block;
    margin-left: 15px;
    max-width: 134px;
}
.policyWrap i{
    color: #eb1c24;
    font-size: 32px;
}
.tabsSection {
    padding: 10px 10px 10px;
    border: 1px solid #eee;
    background: #FFFFFF;
}
.tabsSection .tab {
    margin-bottom: 10px;
}
.tabsSection .tab ul{
    display: flex;
    align-items: center;
}
.tabsSection .tab ul li a {
    color: #77787a;
    font-size: 22px;
    text-transform: uppercase;
    letter-spacing: -0.5px;
    font-weight: 600;
    padding-right: 15px;
    margin-right: 15px;
    position: relative;
}
.tabsSection .tab ul li a:hover,
.tabsSection .tab ul li a.active{
    color: #01adef;
}
.tabsSection .tab ul li a:hover::after,
.tabsSection .tab ul li a.active::after{
    background: #01adef;
}
.tabsSection .tab ul li:last-of-type{
    margin-right: 0;
}
.tabsSection .tab ul li a:after {
    content: '';
    width: 2px;
    height: 100%;
    background: #77787a;
    position: absolute;
    right: 0;
    top: 0;
}
.tabsSection .tab ul li:last-of-type a::after{
    display: none;
}
.tabDetailWrapper .row .col {
    padding-left: 5px;
    padding-right: 5px;
}
.tabDetailWrapper .productBox {
    width: 100%;
    height: auto;
}
.tabDetailWrapper .productBox .productBtns {
    top: 0;
}
.tabDetailWrapper .productBox .productBtns .productCart{
    display: none;
}
.tabDetailWrapper .productBtns .ProductStock,
.tabDetailWrapper .productBtns .customBlueBtn{
    padding: 6px 7px;
    font-size: 10px;
    line-height: 10px;
}
.tabDetailWrapper .productBox  .productContent h4 a{
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
}




.breadcrumbs {
    background: #ffffff;
    padding: 10px 10px 10px;
    border: 1px solid #dcdddf;
}
.bread-list {
    display: flex;
    align-items: center;
}
.bread-list li{
    margin-right: 20px;
}
.bread-list li:last-of-type{
    margin-right: 20px;
}
.bread-list li a {
    color: #666769;
    font-size: 12px;
    display: block;
}
.bread-list li a:hover{
    color: #01adef;
}
.bread-list li.active a {
    color: #01adef;
}
.bread-list li a:hover .crumbText,
.bread-list li a:hover .crumbText:after,
.bread-list li a:hover .crumbText:before{
    border-color: #01adef;
}
.bread-list li:first-child .crumbText{
    padding-left: 10px;
}
.bread-list li:first-child .crumbText:before{
    display: none;
}
.crumbText {
    padding: 5px 10px 5px 17px;
    display: inline-block;
    border: 1px solid #77787a;
    vertical-align: middle;
    border-right: none;
    position: relative;
}
.crumbText:after {
    content: '';
    clip-path: polygon(0 0, 100% 0, 100% 100%);
    background: white;
    border: 1px solid #77787a;
    height: 19px;
    width: 18px;
    transform-origin: 0 0;
    transform: rotate(47deg);
    display: block;
    position: absolute;
    top: -2px;
    left: 100%;
}
.crumbText:before {
    content: '';
    clip-path: polygon(0 0, 100% 0, 100% 100%);
    background: white;
    border: 1px solid #77787a;
    height: 19px;
    width: 18px;
    transform-origin: 0 0;
    transform: rotate(47deg);
    display: block;
    position: absolute;
    top: -2px;
    left: -1px;
}
.sidebarLayout {
    display: flex;
    align-items: flex-start;
}
.stickyHeader .sideBar {
    position: sticky;
    left: 0;
    top: 0;
}
aside.sideBar {
    width: 240px;
    border: 1px solid #dcdddf;
    background: #FFFFFF;
    margin-right: 10px;
}
.sidebarNav h4 {
    background: #eee;
    font-weight: 600;
    letter-spacing: -0.2px;
    color: #eb1c24;
    font-size: 16px;
    line-height: 20px;
    border-bottom: 1px solid #dcdddf;
    padding: 10px 5px 10px;
}
.sidebarNav ul li:first-child{
    border-top: 0;
}
.sidebarNav ul li:last-of-type{
    border-bottom: 0;
}
.sidebarNav ul li{
    padding: 10px 10px 10px;
    border: 1px dotted #dcddcf;
    position: relative;
}
.sidebarNav ul li a {
    font-size: 12px;
    line-height: 16px;
    color: #666769;
    font-weight: 500;
    display: inline-block;
}
.sidebarNav ul li a:hover,
.sidebarNav ul li i:hover{
    color: #eb1c24;
}
.sidebarNav ul li i{
    cursor: pointer;
}
.openSubCategory {
    position: absolute;
    right: 10px;
}
.openSubCategory i{
    transition: all .3s ease;
}
.openSubCategory.rotateIcon i {
    transform: rotate(180deg);
    transition: all .3s ease;
}
.sidebarNav .subCategoriesWrapper{
    display: none;
}
.sidebarNav .subCategoriesWrapper li {
    border: 0;
}
.sidebarNav .subCategoriesWrapper li a{
    display: block;
}
.sidebarContent {
    width: calc(100% - 250px);
}
.filterBar {
    border: 1px solid #dcdddf;
    padding: 7px 5px;
    color: #77787a;
    border-bottom: none;
    background: #eee;
    display: flex;
    align-items: center;
}
.girdView {
    display: flex;
    align-items: center;
    margin-left: auto;
}
.girdView span {
    font-size: 12px;
    line-height: 16px;
    display: block;
    margin-right: 10px;
}
.girdView ul {
    display: flex;
    align-items: center;
}
.girdView ul li {
    margin-right: 10px;
}
.girdView ul li a.active {
    color: #eb1c24;
    pointer-events: none;
}
.ProductListing {
    display: flex;
    align-items: flex-start;
    flex-wrap: wrap;
}
.productBox {
    position: relative;
    padding: 10px;
    border: 1px solid #dcdddf;
    width: 25%;
    height: 370px;
    background: #ffffff;
}
.productBox:hover{
    box-shadow: 0px 3px 10px #dcddcf;
}
.productImg {
    margin: 0 0 10px;
}
.productImg img {
    width: 100%;
}
.productContent h4{
    margin: 0 0 10px;
}
.productContent h4 a{
    font-size: 12px;
    color: #666769;
    line-height: 15px;
    text-align: left;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
}
.productContent h4 a:hover{
    color: #01adef;
}
.productPrice {
    display: inline-block;
    font-size: 16px;
    font-weight: 700;
    color: #000;
    letter-spacing: -0.5px;
    margin: 0 0 10px;
}
.productBox:hover .productBtns{
    opacity: 1;
    visibility: visible;
}
.productBtns {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
    top: 17px;
    opacity: 0;
    visibility: hidden;
}
.productBtns .ProductStock,
.productBtns .customBlueBtn{
    display: inline-block;
    letter-spacing: -0.2px;
    border-radius: 3px;
    box-sizing: border-box;
    border: 1px solid #01adef;
    padding: 6px 14px;
    text-align: center;
    color: #01adef;
    font-size: 11px;
    white-space: nowrap;
    box-shadow: none;
    font-weight: 400;
    line-height: 11px;
}
.productBtns .customBlueBtn{
    color: #FFFFFF;
    background: #01adef;
    display: none;
}
.productBtns .customBlueBtn:hover{
    color: #01adef;
    background: transparent;
    border-color: #01adef;
}
.productCart {
    font-size: 24px;
    display: inline-block;
}
.ProductListing.listViewData {
    flex-direction: column;
}
.ProductListing.listViewData .productBox {
    width: 100%;
    display: flex;
    height: auto;
    border-bottom: 0;
}
.ProductListing.listViewData .productBox:last-of-type{
    border: 1px solid #dcdddf;
}
.ProductListing.listViewData .productBox .productImg {
    width: 200px;
    margin: 0 15px 0 0;
    border: 1px solid #dcdddf;
}
.ProductListing.listViewData .productBox .productContent {
    padding-top: 20px;
}
.productBtns.listViewBtns {
    display: none;
}
.ProductListing.listViewData .productBox .productBtns {
    display: none;
}
.ProductListing.listViewData .productBox .productContent .productBtns.listViewBtns {
    display: flex;
    justify-content: flex-start;
    opacity: 1;
    visibility: visible;
}
.ProductListing.listViewData .productBox .productContent .productBtns.listViewBtns .ProductStock,
.ProductListing.listViewData .productBox .productContent .productBtns.listViewBtns .customBlueBtn{
    margin-right: 8px;
}
.detailProductWrapper {
    display: flex;
    margin: 0 0 30px;
}
.detailProductImg {
    width: 50%;
    border: 1px solid #dcdddf;
    border-top: 0;
    display: flex;
}
.detailProductImg img {
    width: 100%;
}
.productVerticalWrapper {
    width: 100px;
}
.productSideImg {
    max-width: 80px;
    border: 1px solid #dcddcf;
    padding: 5px 5px 5px;
}
.productSideImg:hover{
    border: 1px solid #ee7700;
}
.productMainImage {
    width: calc(100% - 100px);
}


/*** OVERRIDES ***/

.cloudzoom-zoom-inside {
    cursor: zoom-in;
    z-index: 1;
}
.thumbelina-but.vert {
    line-height: 28px;
}
.thumbelina-but.vert.top{
    top: 0;
}
#thumbnails {
    position: relative;
    width: 100px;
    background-color: #fff;
    z-index: 2;
}
#thumbnails a {
    width: 100%;
    display: inline-block;
    text-align: center;
}
/* Prevent FOUC */
#thumbnails ul {
    visibility: hidden;
}
#thumbnails ul.thumbelina {
    visibility: visible;
    padding-top: 25px;
}
.thumbelina li{
    border: 1px solid #dcddcf;
}
.thumbelina li:hover{
    border: 1px solid #ee7700;
}
.thumbelina li img,
.thumbelina li img:hover{
    border: 0;
}
.thumbelina-but.vert.top,
.thumbelina-but.vert.bottom{
    border-radius: 0;
    box-shadow: none;
    left: 0;
    border: 1px solid #dcddcf;
    background: #FFFFFF;
    color: #77787a;
    width: 100px;
}
.thumbelina-but.vert.bottom{
    bottom: 0;
}
#product-image {
    position: relative;
    display: inline-block;
    line-height: 0;
    margin-left: 10px;
    width: calc(100% - 100px);
}

#zoom-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    animation: fadeout 0.5s; /* Sync with JS */
    background: url('http://res.cloudinary.com/thdoan/image/upload/v1498133706/carousel/watch01-large.jpg') no-repeat;
    background-position: 50% 50%;
    background-size: cover;
    cursor: zoom-out;
    display: none;
    opacity: 0;
    z-index: 1;
}

.fullscreen {
    overflow: hidden;
}
.fullscreen .cloudzoom-zoom-inside {
    visibility: hidden; /* Prevent FOUC */
}
.fullscreen #thumbnails {
    position: fixed;
    top: 8px;
    left: 8px;
    opacity: 0.8;
}
.fullscreen #zoom-overlay {
    animation: fadein 0.5s; /* Sync with JS */
    display: block;
    opacity: 1;
}

@keyframes fadein {
    0% { opacity: 0; }
    100% { opacity: 1; }
}
@keyframes fadeout {
    0% { opacity: 1; }
    100% { opacity: 0; }
}

/*.owl-carousel-vertical{*/
/*    transform: rotate3d(0, 0, 1, 90deg);*/
/*}*/
/*.owl-carousel-vertical .item{*/
/*    transform: rotate3d(0, 0, 1, -90deg);*/
/*}*/
.owl-carousel-vertical .owl-nav,
.owl-carousel-vertical .owl-dots{
    display: none;
}
.detailProductContent{
    width: 50%;
    padding: 20px 20px 20px;
}
.detailProductContent h2 {
    font-size: 18px;
    color: #000000;
    line-height: 24px;
    margin: 0 0 15px;
    font-weight: 500;
}
.detailProductContent .rating {
    display: flex;
    margin: 0 0 15px;
}
.detailProductContent .rating li{
    margin-right: 5px;
}
.detailProductPrice {
    margin: 0 0 15px;
}
.detailProductPrice .price {
    display: inline-block;
    color: #77787a;
}
.detailProductPrice .discount {
    font-size: 16px;
    font-weight: 500;
    color: #eb1c24;
    display: inline-block;
    margin-right:5px;
}
.productSize ul {
    display: flex;
    align-items: center;
    margin: 0 0 15px;
}
.productSize ul li{
    margin-right: 5px;
}
.productSize {
    display: flex;
    align-items: flex-start;
}
.featureHeading {
    display: inline-block;
    font-weight: 500;
    color: #625d5e;
    margin-right: 5px;
    min-width: 85px;
}
.productStock{
    margin: 0 0 15px;
}
.productStock .badge {
    font-size: 12px;
    padding: 3px 10px;
    font-weight: 400;
}
.productQuantity {
    display: flex;
    align-items: flex-start;
    margin: 0 0 15px;
}
.productQuantity .input-group .btn-number {
    background: #01adef;
    border: 0;
    box-shadow: none;
    outline: 0;
    font-size: 12px;
    padding: 6px 8px;
}
.productQuantity .input-group .input-number {
    border: 1px solid #dcdddf;
    font-size: 12px;
    padding: 0 10px;
    text-align: center;
}
.productQuantity .input-group .input-number:focus{
    border-color: #01adef;
}
.detailProductCategory {
    margin: 0 0 15px;
}
.detailProductBtns .add-to-cart {
    margin: 40px 0 0;
    display: flex;align-items: center;
}
.detailProductBtns .add-to-cart .customBlueBtn {
    padding: 5px 14px 5px;
    border-radius: 3px;
    font-size: 12px;
    margin-right: 12px;
}
.detailProductBtns .add-to-cart .customBlueBtn:hover{
    border-color: #01adef;
    background: transparent;
    color: #01adef;
}
.detailProductBtns .add-to-cart .customBlueBtn:focus{
    border: 1px solid #01adef !important;
}
.detailProductBtns .add-to-cart a{
    color: #eb1c24;
}
.detailProductBtns .add-to-cart a:hover{
    color: #01adef;
}
.tabWrapper {
    margin: 0 0 30px;
}
.tabWrapper ul.nav li a {
    cursor: pointer;
    float: left;
    font-size: 15.5px;
    color: #333436;
    padding: 0 10px 10px;
    border-bottom: 1px solid transparent;
    margin-right: 4px;
    display: inline-block;
}
.tabWrapper ul.nav li a:hover,
.tabWrapper ul.nav li a.active{
    color: #eb1c24;
    border-color: #eb1c24;
}
.tabWrapper .panel-body {
    padding: 20px 10px;
    line-height: 25px;
    color: #000000;
}
.tabWrapper .panel-body p{
    color: #000000;
}
.relatedProducts h2 {
    font-size: 20px;
    color: #333436;
    letter-spacing: -0.5px;
    font-weight: 600;
    padding-bottom: 15px;
    margin-bottom: 20px;
    position: relative;
}
.relatedProducts h2:after{
    content: '';
    width: 250px;
    height: 1px;
    background: #dcddcf;
    position: absolute;
    left: 0;
    bottom: 0;
}
#relatedProducts .productBox {
    width: auto;
    height: auto;
}
#relatedProducts .productBox .productImg {
    width: 160px;
}
#relatedProducts .productBox .productBtns{
    top: 0;
}
.owl-nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: absolute;
    width: 100%;
    top: 50%;
    transform: translateY(-50%);
}
.owl-dots {
    counter-reset: dots;
    position: absolute;
    bottom: 10px;
    left: 10px;
}
.owl-dot:before {
    counter-increment:dots;
    content: counter(dots);
    width: 20px;
    height: 20px;
    line-height: 18px;
    text-align: center;
    color: #ffffff;
    background: rgba(0,0,0,0.5);
    border-radius: 100%;
    display: flex;
    margin-right: 7px;
    cursor: pointer;
    align-items: center;
    justify-content: center;
    font-size: 12px
}
.owl-dot.active:before {
    background: #01adef !important;
}
.owl-dot span {
    display: none !important;
}
#relatedProducts .owl-prev,
#relatedProducts .owl-next {
    background: #01adef;
    padding: 10px 15px 10px 15px;
}



/* cart */
.cart-section {
    padding: 30px 15px 30px;
    background: #FFFFFF;
    margin-bottom: 10px;
}
.cart-section h2 {
    text-align: center;
    color: #eb1c24;
    font-weight: 700;
    font-size: 18px;
    line-height: 22px;
    margin-bottom: 20px;
}
.emptyCartWrap {
    text-align: center;
}
.emptyCartWrap .emptyCartIcon {
    display: block;
    font-size: 100px;
    margin: 0 0 40px;
}
.emptyCartWrap p {
    color: #77787a;
    font-size: 12px;
}
.emptyCartWrap p a{
    color: #01adef;
    text-decoration: underline;
    font-weight: 500;
}
.emptyCartWrap p a:hover{
    color: #eb1c24;
}
.recentlyAddedSection {
    padding: 30px 15px 30px;
    background: #ffffff;
    margin-bottom: 10px;
}
.recentlyAddedSection h2 {
    color: #77787a;
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    margin-bottom: 15px;
    position: relative;
}
.recentlyAddedSection h2 span{
    position: relative;
    display: inline-block;
    padding-bottom: 10px;
}
.recentlyAddedSection h2 span:after{
    content: '';
    width: 100%;
    height: 1px;
    background: #77787a;
    position: absolute;
    bottom: 0;
    left: 0;
}
.cartProductImage {
    max-width: 80px;
}
.cartProductImage img{
    width: 100%;
}
.input-group.cartInput input.input-number {
    width: 50px;
    text-align: center;
}

.plusMinusBtns .btn {
    background: transparent;
    color: #88898b;
    border: 1px solid #88898b;
    opacity: 1;
    margin: 0 0 4px 4px;
}
.plusMinusBtns .btn:last-of-type{
    margin-bottom: 0;
}
a.cartDelete:hover{
    color: #eb1c24;
}
.checkoutBtn{
    text-align: right;
}
.checkoutBtn a {
    display: inline-block;
}
.coupon {
    display: none;
}
.coupon form {
    display: flex;
    align-items: flex-start;
}
.coupon .form-group {
    margin: 0;
}
.coupon input {
    display: inline-block;
    width: auto;
}
.coupon .customBlueBtn{
    font-size: 12px;
    padding: 5px 12px 5px;
    min-width: 70px;
    margin-left: 8px;
}
.checkoutFromSection {
    padding: 20px 10px 20px;
    background: #ffffff;
}
.checkoutFromSection h2 {
    text-align: left;
    color: #eb1c24;
    font-weight: 700;
    font-size: 14px;
    line-height: 20px;
    margin-bottom: 10px;
}
.customSelect .nice-select {
    float: none;
    border: 1px solid #D5D5E2;
    height: 30px;
    padding: 0 12px 0;
    margin-bottom: 15px;
}
.customSelect .nice-select ul.list {
    width: 100%;
    border: 1px solid #D5D5E2;
}
.customSelect .nice-select ul.list li {
    padding: 3px 12px 3px;
    line-height: 20px;
    min-height: auto;
    font-weight: 400;
    font-size: 12px;
    color: #242A41;
}
.customSelect .nice-select .current {
    font-size: 12px;
    color: #242A41;
}
.checkoutDetails ul li {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 15px;
}
.checkoutDetails ul li:last-of-type{
    margin-bottom: 0;
}
.cartDetailValue {
    color: #01adef;
    font-weight: 500;
}
.single-widget {
    border: 1px solid #D5D5E2;
    padding: 10px 10px 10px;
    margin-bottom: 20px;
}
.checkbox .form-group{
    margin-bottom: 10px;
    display: flex;
}
.checkbox .form-group input {
    height: auto;
    display: inline-block;
    width: auto;
    margin-right: 8px;
}
.checkbox .form-group label{
    margin-bottom: 0 !important;
}
.checkoutDetails ul li .customSelect{
    width: 45%;
}
.checkoutDetails ul li .customSelect .nice-select{
    margin-bottom: 0;
}
.paymentSection{
    padding: 30px 10px 30px;
}
.paymentSection h2 {
    text-align: center;
    color: #eb1c24;
    font-weight: 700;
    font-size: 18px;
    line-height: 22px;
    margin-bottom: 20px;
}
.stripePaymentWrapper {
    padding: 30px 20px 30px;
    background: #ffffff;
    border-radius: 3px;
}
.form-group .error {
    font-size: 12px;
    color: #C43517;
    margin: 0;
}
.ProductNoData {
    border: 1px solid #dcdddf;
    width: 100%;
    min-height: 300px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #eb1c24;
}
.fixedBar {
    position: fixed;
    bottom: 0;
    background: #fff;
    width: 100%;
    border-top: 1px solid #EBEBEB;
    z-index: 2;
    padding: 5px 0 5px;
    display: none;
}
.fixedBar ul {
    display: flex;
    align-items: center;
    justify-content: space-between;
    text-align: center;
}
.fixedBar ul li a {
    color: #4a4a4a;
    font-size: 12px;
    position: relative;
}
.fixedBar ul li a:hover{
    color: #01adef;
}
.fixedBar ul li a span{
    display: block;
    margin-top: 3px;
}
.fixedBar ul li a .total-count {
    display: inline-block;
    margin: 0;
    position: absolute;
    top: 0;
    right: -16px;
    border: 1px solid #01adef;
    font-size: 10px;
    padding: 0px 5px;
    border-radius: 2px;
}
.mobileBtn{
    cursor: pointer;
    margin-left: 20px;
    display: none;
}
.mobileBtn span {
    width: 25px;
    height: 2px;
    background: #625d5e;
    display: block;
    margin-bottom: 5px;
    transition: all .3s ease;
}
.mobileBtn span:last-of-type{
    margin-bottom: 0;
}
.toggle-btn span:first-child {
    -webkit-transform: rotate(-45deg) translate(-9px,6px);
    transform: rotate(-45deg) translate(-9px,6px);
    transition: all .3s ease;
}
.toggle-btn span:nth-child(2) {
    opacity: 0;
    transition: all .3s ease;
}
.toggle-btn span:last-child {
    -webkit-transform: rotate(45deg) translate(-4px,-1px);
    transform: rotate(45deg) translate(-4px,-1px);
    transition: all .3s ease;
}
.mobileSearch{
    display: none;
    margin-left: 40px;
}
.mobileSearch i {
    color: #625d5e;
    font-size: 16px;
}
.mobileSearchForm {
    display: none;
    position: absolute;
    z-index: 2;
    top: 55px;
    width: 100%;
    left: 0;
}
.mobileSearchForm .searchWrapper input{
    width: 100%;
    border-color: #625d5e;
}


    /* pagination style */
.paginationWrapper nav{
    border: 1px solid #dcdddf;
    padding: 7px 5px 7px;
    text-align: right;
    background: #eeeeee;
}
.pagination li{
    margin-right: 4px;
}
.pagination li:last-of-type{
    margin-right: 0;
}
.pagination li a,
.pagination li.active span,
.pagination li.disabled span{
    color: #333436;
    font-size: 12px;
    line-height: 12px;
    border-radius: 0 !important;
    border: 1px solid #333436;
    padding: 6px 10px 6px;
}
.pagination li a:hover{
    border-color: #eb1c24;
    color: #eb1c24;
}
.pagination li.active span{
    background-color: #eb1c24 !important;
    border-color: #eb1c24 !important;
}
.pagination li.disabled span{
    background-color: rgba(108, 117, 125, 0.4) !important;
    border-color: rgba(108, 117, 125, 0.4) !important;
    color: #FFFFFF !important;
}

/* footer */
footer#footer {
    background: #f5f6f8;
    color: #333436;
    padding: 40px 0 40px;
}
.footerContent h4 {
    font-size: 14px;
    margin-bottom: 20px;
    padding-bottom: 10px;
    position: relative;
}
.footerContent h4:after {
    content: '';
    width: 180px;
    height: 1px;
    display: block;
    background: #333436;
    position: relative;
    bottom: -10px;
}
.footerContent ul li{
    margin: 0 0 10px;
}
.footerContent ul li:last-of-type{
    margin: 0;
}
.footerContent ul li,
.footerContent ul li a {
    color: #333436;
    font-size: 12px;
    line-height: 16px;
}
.footerContent ul li a:hover{
    color: #eb1c24;
}
